body{
	text-align: center;
}
.bg-image{
	background-image: url(Image1.jpeg);
	background-color: rgb(60, 60, 60);
	height: 450px;
	color: white;
}
.showcase h1{
	font-size: 40px;
	color: white;
	padding-top: 2.5em;
}
.showcase p{
	font-size: 20px;
}
.botton{
	text-decoration: underline;
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 50px;
	margin-left: 45%;
	margin-right: 45%;
	border-top: 20px;
}
.botton:hover{
	background: white;
	color: seagreen;
}
.Para2 h2{
	font-size: 30px;
}
.Para2 p{
	font-size: 20px;
	padding-bottom: 2em;
	padding-left: 18%;
	padding-right: 18%;
}
.Para3{
	background-color: rgb(60, 60, 60);
	height: 550px;
	padding-left: 16%;
}
.Para3 ul{
	list-style: none;
	float: left;
	width: 16%;
	height: 520px;
	display: flex;
}
.Para3 li{
	background-color: floralwhite;
	margin: 15px;
}
.Box h3{
	font-size: 24px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.Box p{
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.Para4 h2{
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.Para4 p{
	font-size: 20px;
	padding-left: 18%;
	padding-right: 18%;
}
.Para5{
	background-color: royalblue;
	width: 50%;
	color: white;
}
.Para5 h2{
	font-size: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.Para5 p{
	font-size: 20px;
	padding-bottom: 40px;
}
.Para6{
	background-color: rgb(50, 50, 50);
	width: 50%;
	color: white;
}
.Para6 h2{
	font-size: 30px;
	padding-top: 40px;
	padding-bottom: 60px;
}
.Para6 p{
	font-size: 20px;
	padding-bottom: 60px;
}
.bottom-2{
	height: 350px;
	display: flex;
}
.foot{
	background-color: rgb(20, 20, 20);
	color: white;
	font-size: 22px;
	display: flex;
}
.foot p{
	text-align: center;
	width: 50%;
}
